.logo {
	display: flex;
	align-items: center;
	font-family: $mainFont;
	font-size: 24px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 1px;
	color: $mainFontColor;
	margin-top: 20px;
	margin-bottom: 20px;
	img {
		display: inline-block;
		margin-right: 4px;
	}
	&__box {
		margin: 20px 0;
	}
}
@media (max-width: 700px) {
	.logo__box {
		margin: 0;
	}
}
